NODE_ENV=development
APP_PORT=8001
SERVICE_PROVIDER_URL=http://localhost:8001
IDENTITY_PROVIDER_URL=http://localhost:7001

IDP_CERTIFICATE_B64="value=here"
ALLOWED_DOMAINS=localhost,yourdomain.com,trustedpartner.org
SESSION_SECRET="value-here"

DATABASE_URL="mysql://root:@localhost:3306/saml_service_provider"

#MAILER CONFIG
MAIL_MAILER=smtp
MAIL_HOST=host
MAIL_PORT=2525
MAIL_USERNAME=username
MAIL_PASSWORD=password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="hello@example.com"
APP_NAME="OGSP"
ENCRYPTION_KEY=

